<div class="col-xs-12">
    <p>Adicionar</p>
    <div class="col-xs-8">
        <label>Nome</label>
        <input type="text" class="form-control" [(ngModel)]="name" />
    </div>
    <div class="col-xs-2">
        <label>Patrimônio</label>
        <input type="number" class="form-control" [(ngModel)]="code">
    </div>
    <div class="col-xs-10">
        <label>Descrição</label>
        <textarea class="form-control" [(ngModel)]="description"></textarea>
    </div>
    <div class="col-xs-10">
    <br>
    <button
    class="btn btn-primary"
    (click)="onItem()">Inserir</button>
    </div>
</div>
