<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <img src="https://avatars3.githubusercontent.com/u/6115162?s=200&v=4" class="image-responsive"> -->
            <a href="#" class="navbar-brand">Inventário</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Computadores</a></li>
                <li><a href="#">Outros</a></li>
            </ul>


        </div>
    </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <a
        href="#" class="list-group-item clearfix"
        *ngFor="let item of items">
            <div class="pull-left">
                <h4 class="list-group-item-heading"> {{ item.name }}</h4>
                <p class="list-group-item-text"> {{ item.description }}</p>
                <p class="list-group-item-text">Patrimônio: {{ item.code }}</p>

            </div>
            <span class="pull-right">

            </span>
        </a>
    </div>
  </div>
</div>
